<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.gradle_mybatis_dev.dao.StudentMapper">
	<sql id="selectSql">
		select stud_id,name,email,dob,phone
		from students
	</sql>
	<sql id="whereStmt">
		<where>
			<if test="studId!=null">
				stud_id=#{studId}
			</if>		
		</where>
	</sql>

	<select id="selectStudentByNo" parameterType="Student" resultType="Student">
		<include refid="selectSql"/>
		<include refid="whereStmt"/>
	</select>
	
	
	
	
	<resultMap type="Student" id="resultStudent">
		<id column="stud_id" property="studId"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="dob" property="dob"/>
	</resultMap>
	
	<resultMap type="Student" id="resultExtStudent" extends="resultStudent">
		<association property="address" resultMap="kr.or.yi.gradle_mybatis_dev.dao.AddressMapper.resultAddress"/>
	</resultMap>
	
	<resultMap type="Student" id="stdResult" extends="resultStudent">
		<result column="f" property="phone.countryCode"/>
		<result column="m" property="phone.stateCode"/>
		<result column="l" property="phone.number"/>
	</resultMap>
	
	
	<select id="selectStudentByNoWithResultMap" parameterType="Student" resultMap="stdResult">
		select stud_id,name,email,dob,substring(phone,1,3) f,substring(phone,5,3) m,substring(phone,9,4) l
		from students where stud_id=#{stdId};
	</select>
	
	<select id="selectStudentByAll" resultType="Student">
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertStudent" parameterType="Student">
		INSERT INTO mybatis_dev.students
		(NAME, EMAIL, PHONE, DOB)
		VALUES(#{name},#{email},#{phone},#{dob});
	</insert>
	<insert id="insertStudentAutoinc" parameterType="Student" useGeneratedKeys="true" keyProperty="studId">
		INSERT INTO mybatis_dev.students
		(NAME, EMAIL, PHONE, DOB)
		VALUES(#{name},#{email},#{phone},#{dob});
	</insert>
	
	<update id="updateStudent" parameterType="Student">
		UPDATE mybatis_dev.students
		SET NAME=#{name}, EMAIL=#{email}, PHONE=#{phone}, DOB=#{dob}
		WHERE STUD_ID=#{studId};
	</update>
	
	<delete id="deleteStudent" parameterType="int">
		DELETE FROM mybatis_dev.students
		WHERE STUD_ID=#{studId};
	</delete>
	
	<update id="test">
		alter table students auto_increment=3;
		<!-- alter table students auto_increment=(select last_insert_id() from students); -->
	</update>
	
	<select id="selectStudentMapByAll" resultType="map">
		<include refid="selectSql"/>
	</select>

	
<!-- 	<resultMap type="Student" id="resultStudent">
		<id column="stud_id" property="studId"/>
		<result column="addr_id" property="address.addrId"/>
		<result column="street" property="address.street"/>
		<result column="city" property="address.city"/>
		<result column="state" property="address.state"/>
		<result column="zip" property="address.zip"/>
		<result column="country" property="address.country"/>
	</resultMap> -->
	
	<select id="selectStudentByNoResultMapExtends" parameterType="Student" resultMap="resultExtStudent">
		select stud_id, name,email,phone,a.addr_id,street,city,state,zip,country
		from students s left join addresses a on s.addr_id=a.addr_id
		<include refid="whereStmt"/>
	</select>
	
	
</mapper>